#title {
    justify-content: center;
}
h2 {
    justify-content: space-between ;
}
body {
    background-image: url(https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwj_-tze9IfiAhWkwVkKHaZtC5cQjRx6BAgBEAU&url=https%3A%2F%2Fwww.123rf.com%2Fstock-photo%2Fbook_background.html&psig=AOvVaw0jJpWx9tEZ_JxX4OFdYqK1&ust=1557266623675556);
}