#title {
    justify-content: center;
}
h2 {
    justify-content: space-between ;
}
body {
    background-image: url(https://www.crystalgraphicsimages.com/photo/abstract-blurred-public-library-interior-space-blurry_cg2p43735193c_th.jpg);
}